<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <canvas class="turning_plate"></canvas>
  <input class="outgoing_messages" type="text" placeholder="송수신 정보">

  <input class="receiving_messages" type="text" placeholder="발신 정보 입력">
  </body>
</html>
